/* css */

.container {
  height: 100vh;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: gray;
  color: black;
}

.menu-container {
  border-radius: 8px;
  width: 100px;
  height: 100px;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.menu-container.active {
  opacity: 1;
  transform: translateY(0);
}

.menu-item {
  border: 1px solid black;
  width: 100px;
  height: 20px;
}
