/* css */

.card-container {
  height: 100vh;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid black;
  background-color: rgb(102, 205, 170);
  color: white;
  width: 200px;
  height: 150px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.card:hover {
  background-color: rgb(32, 178, 170, 0.5);
  transform: scale(1.5);
}

