@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* 색깔에 mint-500 을 추가한다 */
  --color-mint-500: #d1ffff;
  /* 색깔에 mycolor-400 을 추가한다 */
  --color-mycolor-400: #c71eff;
}

@utility btn-class {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  min-width: 80px;
}

.my-element {
  background: white;
  @variant dark {
    @variant hover {
      background: red;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
