@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* day2 - practice 7 */
@theme {
  /* 주요 색상 */
  --color-flow-blue: #0052cc;
  --color-flow-purple: #6554c0;

  /* 보조 색상 */
  --color-flow-teal: #36b37e;

  /* 강조 색상 */
  --color-flow-orange: #ff5630;

  /* 회사 폰트 */
  --font-noto-sans-kr: "Noto Sans KR", sans-serif;
}

/* day2 - practice 1 */
/* 주석 해제 시 수동으로 전환 가능 */
/* @custom-variant dark (&:where(.dark, .dark *)); */

/* day1 */
@utility btn-class {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  min-width: 80px;
}

/* day1 */
.my-element {
  background: white;
  @variant dark {
    @variant hover {
      background: red;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
